<!--
  Esto es el formato de mail para el turno aceptado por un veterinario
  este mail llega cuando un veterinario acepta un turno pendiente
-->


<%= @texto %> a las <%= @hora %>. 
 <br>
    Lo esperamos!
    Saludos Cordiales
</p>

<p>
    Esq. 1 y 47 - La Plata <br>
    Teléfono: (0221) 481-0392 <br>
    <br>
    Consultas todos los días de la semana:<br>
    Lunes a Sábados <br>
    &nbsp;&nbsp;&nbsp;&nbsp;-Horario mañana: de 8 a 13 Hs.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;-Horario tarde: de 15 a 23 Hs.<br>
</p>