<!--
  Esta vista es la que se pone por defecto 
  en donde no esta especificado la funcionalidad
-->


<% content_for :body do %>
    <h1>Under Construction</h1>
    <%= image_tag 'construccionCeleste.png', alt: 'Under Construction', style: 'width: 100%; height: 100%; object-fit: cover;'%>
<% end %>