
<% content_for :titulo do %>
  <br>
  <div style="display: flex; align-items: center; margin-top: 40px; margin-left: 50px;">
    <i class="material-icons small left grey" style="margin-right: 10px;">today</i>
    <h2 style="margin-top: 4px; font-weight: 200; margin-right: 10px;">Subir un turno de Urgencia</h2>  
  </div>
<% end %>

<% content_for :body do %>

  <h1> Turno Presente </h1>

<% end %>
